h1 {
  text-decoration: underline;
}

.boxColor {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
}

.boxColor div {
  height: 50px;
  width: 45%;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.aqua {
  background-color: #0ff;
}

.purple {
  background-color: purple;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

button {
  border: 1px solid #000;
  background-color: #ccc;
  cursor: pointer;
  padding: 2px 5px;
}

.boxDemo {
  width: 100px;
  height: 100px;
  border: 1px solid #f00;
  background-color: #0ff;
  transition: all 0.3s linear;
  /* display: block; */
  opacity: 1;
}

.box1:hover {
  /* display: none; */
  opacity: 0;
}

input {
  border: 1px solid #000;
}